@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0E4D3A;
}
body { font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; margin:0; padding:0 }
main { padding: 4rem; }
